coverage.json
.env
cache
build
yarn.lock
node_modules
coverage.json
coverage
.coverage_*
.openzeppelin
artifacts/
docs/interfaces
docs/mocks
.vscode/launch.json
deploy_output.json
deploy_parameters.json
deployments
upgrade_parameters.json
docker/gethData/
*.ignore/
typechain-types/
create_rollup_parameters.json

docker/deploymentOutput

# From foundry-template:

/target
/out
/cache
/coverage
lcov.info
.DS_Store
.env
.vscode
.password

broadcast/*/31337
deployments/**/31337.*

# storage layout checker library
storage_check_cache
storage_check_report