coverage.json
.env
cache
build
yarn.lock
node_modules
coverage.json
coverage
.coverage_*
.openzeppelin
artifacts/
docs/interfaces
docs/mocks
.vscode
deploy_output.json
deploy_parameters.json
deployments
upgrade_parameters.json
docker/gethData/
*.ignore/
typechain-types/
create_rollup_parameters.json
create_rollup_output_*

docker/deploymentOutput

.DS_Store

*upgrade_output.json
