{
    "defaultAdminAddress": "0x..",
    "aggchainDefaultVKeyRoleAddress": "0x..",
    "addRouteRoleAddress": "0x..",
    "freezeRouteRoleAddress": "0x..",
    "verifierAddress": "0x...",
    "ppVKey": "0xac51a6a2e513d02e4f39ea51d4d133cec200b940805f1054eabbb6d6412c959f",
    "ppVKeySelector": "0x00000001"
}