{
    "bridgeL2": "0x..",
    "gerL2": "0x..",
    "pathJsonInitLBT": "",
    "bridge_initiaizationParameters": {
        "bridgeManager": "0x..",
        "proxiedTokensManagerAddress": "0x..",
        "emergencyBridgePauserAddress": "0x..",
        "emergencyBridgeUnpauserAddress": "0x.."
    },
    "ger_initiaizationParameters": {
        "globalExitRootUpdater": "0x..",
        "globalExitRootRemover": "0x.."
    },
    "forkParams": {
        "rpc": "rpc url",
        "timelockAdminAddress": "0x.."
    }
}