# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Main CI

on:
    push:
        branches: [main, develop, feature/ongoingPP]
    pull_request:
        branches: [main, develop, feature/ongoingPP]

jobs:
    lint-and-test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x]

        steps:
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Checkout code
              uses: actions/checkout@v3
            - name: setup
              run: npm i
            - name: linter
              run: npm run lint
            - name: test
              run: npm run test
